## 3. Gender Guesser

I installed a python package, gender-guesser (pypi.org/project/gender-guesser), to convert the officer names to a count of male and female officers. I then used this count to generate the proportion of female officers for each company.

In [1]:
import requests
import bs4
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import time, random

In [2]:
officers_18_19 = pd.read_csv('officers_18_19_v2', parse_dates=['date_appointed','date_resigned'])

In [3]:
officers_18_19.drop(columns='Unnamed: 0', inplace=True)

In [4]:
officers_18_19

,company_no,name,date_appointed,date_resigned
0,SC016876,"VALENTINE, Dianne Davidson",2015-05-11,None
1,SC016876,"CLUBB, Malcolm Richard",2018-05-09,None
2,SC016876,"CUMMING, Alexander Coulson",None,None
3,SC016876,"CUMMING, Charles Nigel Coulson",None,None
4,SC016876,"GALT, Philip Callaghan",2014-08-19,None
...,...,...,...,...
178415,01032611,"HIGGINSON, Anthony Mitchell",2002-09-19,2020-12-31
178416,01032611,"HIGGINSON, Julie Elizabeth",2007-08-12,2020-12-31
178417,01032611,"LOTGERINK, Ronald Emmanuel Maria",1998-06-05,2018-07-26
178418,01032611,"STEVERS-VAN DER LAAN, Johanna Clazina Maria",None,2016-06-30
178419,01032611,"VAN DER LAAN, Adrianus Maria",None,2017-07-03

<font color='red'>

#### I used regex to split the name on the part after the comma, which gives the first and middle names. I noticed there were a few company names listed as officers so removed these - they were identified from the dataframe because when I tried to split using the regex below there was an error as these lines did not contain a comma. Therefore the came up as nan using the below code. 
    
</font>

In [5]:
import re
test = []
for line in officers_18_19.name:
    if ',' in line:
        for i in re.findall(r',([^;]*)', line):
            test.append(i)
    else:
        test.append(np.nan)

In [6]:
# I checked the lists were the same length:
print(len(officers_18_19.name))
print(len(test))

<font color='red'>

#### I created a column for first name - this takes the first item in the 'name' (since it starts with a space its not the 0th item you want, its the first). The regex part gets rid of any characters that are not a-z or a dash by replacing with nothing. Noted that some names came up as "SURNAME, Firstname, Middlename" instead of "SURNAME, Firstname Middlename".
    
#### I then similarly created a column for the middle name.
    
</font>

In [9]:
first_name = []
for x in test:
    try:
        splitter = (x.split(' ')[1])
        splitter = re.sub(r'[^a-zA-Z-]', '', splitter)
        first_name.append(splitter)
    except:
        first_name.append(np.nan)

In [11]:
middle_name_1 = []
for x in test:
    try:
        splitter_2 = (x.split(' ')[2])
        splitter_2 = re.sub(r'[^a-zA-Z-]', '', splitter_2)
        middle_name_1.append(splitter_2)
    except:
        middle_name_1.append(np.nan)

In [13]:
# add columns to the dataframe
officers_18_19['test'] = test
officers_18_19['first_name'] = first_name
officers_18_19['middle_name_1'] = middle_name_1

In [14]:
officers_18_19

,company_no,name,date_appointed,date_resigned,test,first_name,middle_name_1
0,SC016876,"VALENTINE, Dianne Davidson",2015-05-11,None,Dianne Davidson,Dianne,Davidson
1,SC016876,"CLUBB, Malcolm Richard",2018-05-09,None,Malcolm Richard,Malcolm,Richard
2,SC016876,"CUMMING, Alexander Coulson",None,None,Alexander Coulson,Alexander,Coulson
3,SC016876,"CUMMING, Charles Nigel Coulson",None,None,Charles Nigel Coulson,Charles,Nigel
4,SC016876,"GALT, Philip Callaghan",2014-08-19,None,Philip Callaghan,Philip,Callaghan
...,...,...,...,...,...,...,...
178415,01032611,"HIGGINSON, Anthony Mitchell",2002-09-19,2020-12-31,Anthony Mitchell,Anthony,Mitchell
178416,01032611,"HIGGINSON, Julie Elizabeth",2007-08-12,2020-12-31,Julie Elizabeth,Julie,Elizabeth
178417,01032611,"LOTGERINK, Ronald Emmanuel Maria",1998-06-05,2018-07-26,Ronald Emmanuel Maria,Ronald,Emmanuel
178418,01032611,"STEVERS-VAN DER LAAN, Johanna Clazina Maria",None,2016-06-30,Johanna Clazina Maria,Johanna,Clazina
178419,01032611,"VAN DER LAAN, Adrianus Maria",None,2017-07-03,Adrianus Maria,Adrianus,Maria

<font color='red'>

#### I used the gender-guesser on the first name and middle name, creating two list stating the gender of each and added these lists to the dataframe. 
#### I also removed duplicates and removed lines where the 'test' column was na as these lines appeared when the officer was a company rather than an individual. 
    
</font>

In [15]:
import gender_guesser.detector as gender
d = gender.Detector()
gender_first_name = []
for name in officers_18_19.first_name:
    name_input = u"{}"
    gender_first_name.append(d.get_gender(name_input.format(name)))

In [16]:
d = gender.Detector()
gender_middle_name = []
for name in officers_18_19.middle_name_1:
    name_input = u"{}"
    gender_middle_name.append(d.get_gender(name_input.format(name)))

In [17]:
officers_18_19['gender_first_name'] = gender_first_name
officers_18_19['gender_middle_name'] = gender_middle_name

In [19]:
officers_18_19.drop_duplicates(inplace=True)

In [22]:
officers_18_19.dropna(subset=['test'], inplace=True)

In [23]:
officers_18_19.gender_first_name.value_counts()

male             130226
female            27542
unknown            5088
mostly_male        2361
mostly_female      2328
andy                631
Name: gender_first_name, dtype: int64

In [24]:
officers_18_19[officers_18_19['gender_first_name']=='unknown'].head()

,company_no,name,date_appointed,date_resigned,test,first_name,middle_name_1,gender_first_name,gender_middle_name
15,03951948,"KHATTAR, Nitin",2020-03-30,None,Nitin,Nitin,NaN,unknown,unknown
18,03951948,"RAVAL, Pradipkumar",2014-05-30,None,Pradipkumar,Pradipkumar,NaN,unknown,unknown
19,03951948,"CHANDRANI, Rupesh Sandeep",2012-10-01,2014-06-25,Rupesh Sandeep,Rupesh,Sandeep,unknown,mostly_male
28,03951948,"STONE, Deidrie Alexandria",2019-07-31,2020-03-26,Deidrie Alexandria,Deidrie,Alexandria,unknown,female
138,SC156515,"CURLE, Tolla Joanne",2015-10-02,None,Tolla Joanne,Tolla,Joanne,unknown,female

In [25]:
officers_18_19[officers_18_19['date_appointed']=='None']

,company_no,name,date_appointed,date_resigned,test,first_name,middle_name_1,gender_first_name,gender_middle_name
2,SC016876,"CUMMING, Alexander Coulson",None,None,Alexander Coulson,Alexander,Coulson,male,unknown
3,SC016876,"CUMMING, Charles Nigel Coulson",None,None,Charles Nigel Coulson,Charles,Nigel,male,male
6,SC016876,"BARGH, Frederick Charles",None,1990-06-13,Frederick Charles,Frederick,Charles,male,male
7,SC016876,"O'TOOLE, Moira",None,2015-05-11,Moira,Moira,NaN,female,unknown
8,SC016876,"CLARK, David Robertson",None,1995-01-19,David Robertson,David,Robertson,male,male
...,...,...,...,...,...,...,...,...,...
178347,00243883,"LEITCH, Alexander Park",None,1991-12-10,Alexander Park,Alexander,Park,male,unknown
178407,01032611,"VAN DER LAAN, Arnoldus Theodorus Maria",None,None,Arnoldus Theodorus Maria,Arnoldus,Theodorus,unknown,male
178409,01032611,"MCDONALD, Peter John",None,2019-05-31,Peter John,Peter,John,male,male
178418,01032611,"STEVERS-VAN DER LAAN, Johanna Clazina Maria",None,2016-06-30,Johanna Clazina Maria,Johanna,Clazina,female,female
178419,01032611,"VAN DER LAAN, Adrianus Maria",None,2017-07-03,Adrianus Maria,Adrianus,Maria,male,female

<font color='red'>

#### This left me with around 5000 unknown values and 600 listed as 'andy'. I wasn't quite sure what the andy items were so I went through each one and manually, this is detailed further below. I decided to remove the unknown values.

#### I also wanted to remove officers appointed after 2019 as this was after the gender pay gap data period. I therefore removed all lines were the date appointed was in 2020 or 2021. 
</font>

In [27]:
officers_18_19['after_2019'] = 0
for i, line in enumerate(officers_18_19['date_appointed']):
    if '2020' in line:
        officers_18_19['after_2019'][i] = np.nan

<ipython-input-27-a18b43c13d6a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  officers_18_19['after_2019'][i] = np.nan
/Users/gitas/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [28]:
for i, line in enumerate(officers_18_19['date_appointed']):
    if '2021' in line:
        officers_18_19['after_2019'][i] = np.nan

<ipython-input-28-d967ef574461>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  officers_18_19['after_2019'][i] = np.nan

In [30]:
officers_18_19.dropna(subset=['after_2019'], inplace=True)

In [31]:
officers_18_19.gender_first_name[officers_18_19.gender_first_name == "unknown"] = np.nan

<ipython-input-31-d73cb89b5be5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  officers_18_19.gender_first_name[officers_18_19.gender_first_name == "unknown"] = np.nan

In [32]:
officers_18_19.gender_first_name.value_counts()

male             125151
female            26499
mostly_male        2271
mostly_female      2245
andy                607
Name: gender_first_name, dtype: int64

In [38]:
# Save to a CSV file
# officers_18_19.to_csv('detailed_officers_18_19', index=False)

detailed_officers_18_19 = pd.read_csv('detailed_officers_18_19')

detailed_officers_18_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161656 entries, 0 to 161655
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   company_no          161656 non-null  object
 1   name                161656 non-null  object
 2   date_appointed      161656 non-null  object
 3   date_resigned       161656 non-null  object
 4   test                161656 non-null  object
 5   first_name          161654 non-null  object
 6   middle_name_1       118000 non-null  object
 7   gender_first_name   156773 non-null  object
 8   gender_middle_name  161656 non-null  object
 9   after_2019          161656 non-null  float64
dtypes: float64(1), object(9)
memory usage: 12.3+ MB

In [ ]:
# detailed_officers_18_19.dropna(subset=['first_name'], inplace=True)
# detailed_officers_18_19.info()

In [ ]:
# Could create 2 columns or just dummify manual gender below:
# detailed_officers_18_19['manual_female'] = 0
# detailed_officers_18_19['manual_male'] = 0

In [ ]:
# just to check it worked 
detailed_officers_18_19['manual_female'].sum()

<font color='red'>

#### This left me with around 5000 unknown values and 600 listed as 'andy'. I wasn't quite sure what the andy items were so I iterated through each row and then input 'male' or 'female' after googling the individual to determine if they were male or female. For the individuals I was unable to classify, I had to mark these as NA. I used this to generate a column with the manual gender input, removing the NA values. 
</font>

In [39]:
# use iterrows to loop through the rows and then print out the row name, input the replacement (m or f) to go
# into the manual gender line. 
# This method will give you the index of the line and the manual gender column - you can use this to join the data 
# together (https://stackoverflow.com/questions/40468069/merge-two-dataframes-by-index) then dummify the column. 
manual_gender = []
index_manual = []
for index, row in detailed_officers_18_19.iterrows():
    if row['gender_first_name']=='andy':
        print(row['name'])
        manual = input('male or female?')
        index_manual.append(index)
        manual_gender.append(manual)
#     detailed_officers_18_19.name[detailed_officers_18_19['gender_first_name']=='andy']

NOVAKOVIC, Novica
male or female?m
NOVAKOVIC, Novica
male or female?m
COLE, Pat
male or female?f
RYDER, Dominique Michelle
male or female?f
OOI, Shu Mei
male or female?f
BALE, Lesley Christine
male or female?f
REYNOLDS, Lesley
male or female?f
BROWN, Lesley Ann
male or female?f
KAY, Lesley
male or female?f
PARK, Jong An
male or female?m
ALLISON, Calum
male or female?m
HAIG, Lesley Jane, Professor
male or female?f
VERHAGEN, Adri
male or female?m
HARADA, Jo
male or female?f
FAN, Li
male or female?f
GUO, Jing
male or female?f
HARRIS, Lesley Ann
male or female?f
BERTONCINI, Dominique
male or female?f
CAI, Yuan, Finance Manager
male or female?m
COWLEY, Lesley Ruth
male or female?f
BROWN, Calum John Mcdowall
male or female?m
DENG, Ying
male or female?f
JAP, Chee Miau
male or female?m
GRAEME, Lesley Joyce
male or female?f
KNOX, Lesley Mary Samuel
male or female?f
DAVIES, Ceri Thomas
male or female?m
GRAEME, Lesley Joyce
male or female?f
LONGSTONE, Lesley Carol
male or female?f
WILSON, Averil Claire
male or female?f
DAMON, Dominique Marie Andree Alberte
male or female?f
LI, Tao
male or female?m
O'DONOHOE, Pat Joseph
male or female?m
TANEM, Jo Alex
male or female?m
CARTWRIGHT, Lesley Irene
male or female?f
CARREL BILLIARD, Dominique Jacques Joseph Marie
male or female?m
BAZY, Dominique
male or female?m
BAZY, Dominique
male or female?m
HUNG, Wai Leung
male or female?m
KIM, Jung Il
male or female?m
MCLEISH, Blair Alexander
male or female?m
BOWMAN, Calum Peter
male or female?m
CAUSEY, Carey
male or female?f
ZHOU, Qing
male or female?f
REN, Li
male or female?f
SHI, Wei
male or female?NA
SUN, Yu
male or female?NA
YUE, Yi
male or female?NA
SUN, Lie
male or female?NA
STEWART, Calum William
male or female?m
BASHAM, Jackie
male or female?f
BATTY, Lesley Anne
male or female?f
BATTY, Lesley Anne
male or female?f
WILD, Lesley
male or female?f
WU, Xu
male or female?NA
BIRD, Lesley
male or female?f
WANG, Yao
male or female?NA
YIU, Chun Kong
male or female?NA
IP, Wing Lun
male or female?NA
WONG, Wai Kwok
male or female?NA
YEUNG, Ka Sing Carson
male or female?NA
CHEONG, Hoe Wai, Dr
male or female?NA
TUNG, Min Eric
male or female?m
TUNG, Min Eric
male or female?m
TUNG, Min Eric
male or female?m
KOK, Adri
male or female?m
LE COUILLIARD, Jo Susan
male or female?f
MACDONALD, Muir
male or female?m
MOERENHOUT, Dominique
male or female?m
YATES, Dominique
male or female?m
WATKINS, Lesley Susan
male or female?f
KIM, Hae In
male or female?NA
BARBARO, Gab Saturnio
male or female?m
BARBARO, Gab Saturnio
male or female?m
ADAMS, Aubrey John
male or female?m
KIM, Hae In
male or female?NA
SAGAR, Shakti
male or female?f
PARRIDGE, Dominique Henriette
male or female?f
CHEAH, Chee Choong
male or female?m
CHEAH, Chee Choong
male or female?m
SPEIRS, Lesley Sarah
male or female?f
BERS, Lesley Rosemary
male or female?f
WOLFENDEN, Lesley Ann
male or female?f
THOMAS, Wynn Francis
male or female?NA
MOH, Chuang Hue
male or female?NA
HAGA, Bin
male or female?NA
LI, Dong Mei
male or female?f
CERUTTI, Dominique
male or female?m
BIRCH, Lesley Christine
male or female?f
TSUDA, Shin
male or female?NA
LIM, Meng Kwong
male or female?NA
LE COUILLIARD, Jo Susan
male or female?f
GRAEME, Lesley Joyce
male or female?f
MABBOTT, Lesley
male or female?NA
FONG, Sai Hup
male or female?NA
KWOK, Meng
male or female?NA
YEO, Wei Ping Patricia
male or female?f
ROBERTSON, Muir Alastair
male or female?m
ROBERTSON, Muir Alastair
male or female?m
ANCLIFF, Lesley Jane
male or female?f
WATKINS, Lesley Susan
male or female?f
GRAHAM, Lesley Elizabeth
male or female?f
WONG, Wai Chung
male or female?NA
ISRAELSOHN, Innes
male or female?NA
HEALEY, Lesley Jane
male or female?f
LOCK, Lesley
male or female?NA
PALMER, Jackie
male or female?f
DALLSINGH, Ashton
male or female?NA
INNES, Calum John
male or female?m
LOVICHI, Dominique, Monsieur
male or female?m
VISHNUBHOTLA, Krishna
male or female?f
JIANG, Qing
male or female?NA
FANG, Zhi
male or female?NA
AU, Wai-Fong
male or female?NA
JOHNSTON, Calum
male or female?m
QUAYLE, Huan
male or female?NA
BUXTON, Aubrey James Francis
male or female?m
NG, Kwan Cheong
male or female?NA
NG, Kwan Cheong
male or female?NA
ONG, Hung Ming
male or female?NA
BENNETT, Jo Mary
male or female?f
SALVY, Dominique
male or female?m
LO, Ching Leung Andrew
male or female?NA
LEUNG, Man Sze
male or female?NA
WANG, Yuan
male or female?NA
KANG, Sung Ho
male or female?NA
LIM, Chuang
male or female?NA
TAN, Chuan Lye
male or female?NA
GARBETT, Lesley
male or female?NA
EDWARDS, Carey Charles
male or female?m
THOMAS, Dominique
male or female?m
MORRISSEY, Pat
male or female?NA
FAGUET, Dominique Paul Georges
male or female?m
DONNELLY, Pat
male or female?NA
KERR, Jackie Ann
male or female?f
GROOM, Lesley Elizabeth
male or female?f
MABBOTT, Lesley
male or female?NA
THIELEN, Frankie Bernard Eugene
male or female?m
LAING, Innes
male or female?m
RADIA, Adarsh
male or female?m
RADIA, Adarsh Shane
male or female?m
RADIA, Adarsh Shane
male or female?m
PEDERSON, Jackie
male or female?NA
CHOI, Hyoung Hee
male or female?NA
CHOI, Jong Il
male or female?NA
CHUNG, Hyung Rak
male or female?NA
HONG, Seong Eun
male or female?NA
JUNG, Kwang Seob
male or female?NA
LAM, Hui Hoang
male or female?NA
HASSALL, Lesley Anne
male or female?f
SEWELL, Lesley Frances
male or female?f
GOLSONG, Dominique
male or female?NA
BAILEY, Su Angela
male or female?f
XU, Peng
male or female?NA
MATTHIES, RenÃ©
male or female?m
FOK, Chun Kit James
male or female?m
AGUTTER, Lesley Anne
male or female?f
OOI, Shu Mei
male or female?NA
BALE, Lesley Christine
male or female?f
CHAMBERLAIN, Lesley Joy
male or female?f
BAXTER, Averil
male or female?f
CHAMBERLAIN, Lesley Joy
male or female?f
BIGAUD, Yanick
male or female?m
HOH, Mei Yee
male or female?f
HAMANI-SAMAAN, Miral
male or female?f
MACDONALD, Calum Charles
male or female?m
NATH, SiÃ¢n Faru Eva Wilkie
male or female?f
AU, Wai-Fong Fong
male or female?NA
HAMANI-SAMAAN, Miral
male or female?f
REINICHE, Dominique Jacqueline Nicole
male or female?f
BARNETT, Lesley Joan
male or female?f
MISZEWSKA, Lesley
male or female?NA
QUAYLE, Huan
male or female?NA
COATES, Lesley Joan
male or female?f
COATES, Lesley Joan
male or female?f
MARGISON, An
male or female?f
ROY, Barin Brian
male or female?m
CHUNG, Sui Fung
male or female?NA
PEACOCK, Dominique Amanda
male or female?f
PATEL, Bharat Chandubhai
male or female?m
ROBINSON, Lesley
male or female?NA
THAYER, Ceri
male or female?NA
DANIEL, Dominique Yvonne Jacqueline, Mme
male or female?f
NETTER, Dominique
male or female?NA
VANTOU, Dominique FranÃ§ois RenÃ©
male or female?m
MORE, Avery
male or female?m
WALLIS, Blair
male or female?m
TENCH, Lesley Owen
male or female?m
TITCOMB, Lesley Jane
male or female?f
FRAIKIN, Dominique
male or female?NA
DEAN, Jo
male or female?f
IGUCHI, Ryo
male or female?NA
BLANGO, Columba Michael Joe
male or female?m
SATO, Gen
male or female?f
SAXTON, Jo Juliette, Dr
male or female?f
SAXTON, Jo Juliette, Dr
male or female?f
WELSH, Lesley
male or female?NA
WELSH, Lesley
male or female?NA
WELSH, Lesley
male or female?NA
CHOW, Ping Wah
male or female?NA
STORER, Jackie Anne
male or female?
STORER, Jackie Anne
male or female?f
STORER, Jackie Anne
male or female?f
STORER, Jackie Anne
male or female?f
STORER, Jackie Anne
male or female?f
KAO, Min Hwan
male or female?NA
OOI, Shu Mei
male or female?NA
MCLAGAN, Lesley Patricia
male or female?f
OOI, Shu Mei
male or female?NA
CHEW, Seong Aun
male or female?NA
BLACKWELL, Seok Hui
male or female?NA
HAZLETON, Lesley Bachleitner
male or female?NA
HAGA, Bin
male or female?NA
ODELL, Lesley Janet
male or female?f
FORRESTER, Jo
male or female?f
BOURNE, Jo
male or female?f
KIM, Min Jung
male or female?NA
GRAEME, Lesley Joyce
male or female?f
LAU, Hung Chung Humphrey
male or female?NA
ALMOND, Lesley
male or female?NA
ARNOLD, Lesley Ann
male or female?f
LIM, Meng Kwong
male or female?NA
COATES, Pat
male or female?NA
FORSYTH, Calum James
male or female?m
GANG, Wu
male or female?NA
SODHA, Bharat Chunilal
male or female?m
CHAN, Ka Leung
male or female?NA
DELPORT, Dominique
male or female?NA
HAYNES, Lesley
male or female?NA
KUMAR, Harsh
male or female?m
SINGH, Amrit
male or female?NA
OOI, Shu Mei
male or female?NA
COOK, Lesley Susan
male or female?f

LIBOYI, Jackie Awinja
male or female?f
LANGRIDGE, Hui Min
male or female?NA
TING, Hui Tzu Katja
male or female?NA
HASKINS, Lesley Erica
male or female?f
MACDONAGH, Lesley Anne
male or female?f
YAMAMOTO, Soichi
male or female?NA
POON, Chee Wah
male or female?NA
LEE, Sang Hoon David
male or female?m
WILSON, SiÃ¢n
male or female?NA
DELSOL, Ashton
male or female?NA
CHOE, Peng Sum
male or female?NA
DAVIES, Wyn Meredith
male or female?f
BRADBURY, Ashton Charles
male or female?m
CHEN, Yun
male or female?NA
ZHANG, Wei
male or female?NA
LUO, Gang
male or female?NA
SUN, Ming
male or female?NA
DENG, Tao
male or female?NA
LIU, Kang
male or female?NA
LUO, Gang
male or female?NA
ZHANG, Hui
male or female?NA
HSIEH, An-Ping
male or female?NA
CORBETT, Lesley Jane
male or female?f
CHENG, Chun Fun Clemence
male or female?NA
FOK, Kin Ning Canning
male or female?NA
COOPER, Calum
male or female?m
GALVIN, Lesley
male or female?NA
HOU, Qian
male or female?NA
WU, Gang
male or female?NA
BATTY, Lesley Anne
male or female?f
RIMMINGTON, Lesley Diane
male or female?f
MABBOTT, Lesley
male or female?NA
MACLEAN, Calum Grigor
male or female?m
WANG, Gong
male or female?NA
LIU, Lei
male or female?NA
MACLEAN, Calum Grigor
male or female?m
RUELENS, Blair Scott
male or female?m
MACLEAN, Calum Grigor
male or female?m
AU, Wai Fong
male or female?NA
MASRANI, Bharat Bhagwanzi
male or female?m
BAAN, Adri
male or female?m
RIMMINGTON, Lesley Diane
male or female?f
RIMMINGTON, Lesley Diane
male or female?f
JAMES, Lesley
male or female?NA
WATKINS, Lesley Susan
male or female?f
FURUTA, Shin
male or female?NA
LIU, Wan Min
male or female?NA
HULBERT, Pip
male or female?NA
MAXWELL, Yeng Yeng
male or female?NA
PEARSON, Jackie, Doctor
male or female?f
INGHELBRECHT, Dominique Christelle
male or female?f
KIRKBY, Pip
male or female?NA
WILSON, Lesley Margaret
male or female?f
PATEL, Parimal Raojibhai
male or female?m
STEWART, Lesley
male or female?NA
MAXWELL, Yeng Yeng
male or female?NA
BEVAN, Wyn David
male or female?m
MACGREGOR, Calum
male or female?m
FREEMAN, Pat
male or female?NA
KALMANN, RenÃ© Robert
male or female?NA
WILKIN, Lesley Patricia
male or female?f
CALLAN, Keeley
male or female?NA
JONES, Lesley Patricia
male or female?f
TAM, Wai Tsz
male or female?NA
DALLSINGH, Ashton
male or female?NA
RICHARDS, Ceri
male or female?NA
COLLINS, Aubrey Mark
male or female?NA
CRONJE, Charl Pierre
male or female?m
GRAEME, Lesley Joyce
male or female?f
ANGLIM, SeÃ¡n Thomas
male or female?m
CARTMELL, Lesley Jayne
male or female?f
YEH, Feng Ze
male or female?NA
KNOX, Lesley Mary Samuel
male or female?NA
WHITE, Lesley Ann
male or female?f
MOYLAN, Shan
male or female?NA
SUE, Ka Lok
male or female?NA
NG, Wai Kei
male or female?NA
PELABON, Dominique
male or female?NA
KAYE, Ro
male or female?NA
CARTER, Jackie
male or female?f
SINGH, Amrit
male or female?NA
AINA, Justice
male or female?NA
NG, Mee Ling, Dr
male or female?NA
BAILLIE, Lesley
male or female?NA
WALKER, Lesley Jane
male or female?f
DE CASTRO, JoÃ£o Manuel Pisco
male or female?m
DALLSINGH, Ashton
male or female?NA
LI, Ning Lucas Gabriel
male or female?m
ALDRIDGE, Lesley Carol
male or female?f
FLYNN, Lesley Anne
male or female?f
CHOE, Peng Sum
male or female?NA
HYNDMAN, Lesley Amanda
male or female?f
BURTON, Lesley Ann
male or female?f
EVANS, Ceri
male or female?NA
GRAEME, Lesley Joyce
male or female?f
LOONG, Gee Yung
male or female?NA
MURRAY, Greer Hamish
male or female?m
NASH, Shan Angharad
male or female?HHA
BRADBURY, Ashton Charles
male or female?m
OAKES, Lesley Denise
male or female?f
OAKES, Lesley Denise
male or female?f
WHITE, Lesley Margaret
male or female?f
BATTY, Lesley Anne
male or female?f
ALIKHAN, Jo
male or female?f
BURROWS, Lesley Anne
male or female?f
KANAI, Ryo
male or female?NA
KANAI, Ryo
male or female?NA
SUZUKI, So
male or female?NA
KANAI, Ryo
male or female?NA
KAZUI, Kojiro
male or female?NA
GOUGH, Lesley Ann
male or female?f
BOLT, Innes John
male or female?m
BOLT, Innes John
male or female?m
JONES, Lesley
male or female?NA
WORRALL, Blair Lloyd
male or female?m
LAVOIE, Blair Michael
male or female?m
LAVOIE, Blair Michael
male or female?m
JAMES, Ceri
male or female?NA
LOH, Lim Young
male or female?NA
DURAND, Dominique
male or female?NA
HASHIMOTO, Katsuji
male or female?NA
MACRAE, Calum Fionn
male or female?NA
LUE, Jeng Hung
male or female?NA
VERSLUIJS, Anthonie Jacob
male or female?m
MIYA, Kojiro
male or female?NA
CHAN, Seng Boon
male or female?NA
ROCHE, Lesley Sharon
male or female?f
EASTON, Lesley Catherine
male or female?f
STORER, Jackie
male or female?f
QUAYLE, Huan
male or female?NA
TSAI, Chao Chung, Charles
male or female?NA
WAN, Chi Tin
male or female?NA
TONG BARNES, Wai Che Wendy
male or female?f
BROWNING, Lesley Ann
male or female?f
CHIPPER, Lesley Ann
male or female?f
CHIPPER, Lesley Ann
male or female?f
QUINTON-TULLOCH, Jo
male or female?f
HUNT, Jackie Elizabeth
male or female?f
HOUNSELL, Dai
male or female?NA
MANN, Lesley
male or female?NA
GRAEME, Lesley Joyce
male or female?f
BARBARO, Gab Saturnio
male or female?NA
CHOU, Yu-Li
male or female?NA
COTTON, Lesley Anne
male or female?f
LONG, Li Li
male or female?f
GRAHAM, Lesley Karen
male or female?f
CHAMBERLAIN, Lesley Joy
male or female?f
CHAMBERLAIN, Lesley Joy
male or female?f
CHAMBERLAIN, Lesley Joy
male or female?f
YOUNG, Ceri Joanne Charles
male or female?NA
DAVIES, Lesley
male or female?NA
CONNOLLY, Jo
male or female?NA
HIGHFIELD, Dominique
male or female?NA
GREENLEES, Lesley Alexander
male or female?m
EAGER, Averil
male or female?NA
EAGER, Averil
male or female?NA
RADLEY, Lesley Margaret
male or female?f
WANG, Gong
male or female?NA
LIU, Lei
male or female?NA
MACLEAN, Calum Grigor
male or female?m
MACLEAN, Calum Grigor
male or female?m
CULLEN, Dominique
male or female?NA
LALA, Nian
male or female?NA
TAN, Choon Thiam
male or female?NA
CHO, In Soo
male or female?NA
FREEMAN, Jackie Doreen
male or female?f
FREEMAN, Jackie Doreen
male or female?f
PUI HONG, Yung
male or female?NA
RUSH, Lesley
male or female?NA
ROCHE, Lesley Sharon
male or female?f
JAP, Chee Miau
male or female?NA
JAP, Chee Miau
male or female?NA
PAN, Xing Yu
male or female?NA
GRAEME, Lesley Joyce
male or female?f
GRAEME, Lesley Joyce
male or female?f
GEDDES, Lesley Anne
male or female?f
WEST, Jo
male or female?NA
HEALEY, Lesley Jane
male or female?f
JONES, Ceri
male or female?NA
CHAWNER, Jackie
male or female?f
ALLT, Jackie Sian
male or female?f
XIA, Jian Tong
male or female?NA
STROUD, Jo
male or female?f
HODGSON, Jo
male or female?f
WESTON, Lesley Joyce
male or female?f
CHICK, Lesley Anne
male or female?f
HUMPHRYS, Lesley Susan
male or female?f
CLERBOIS, Dominique Christiane
male or female?f
CUMA, Benan
male or female?NA
WONG, Yin
male or female?NA
WONG, Yin
male or female?NA
AU, Wai-Fong Fong
male or female?NA
ATWAL, Kal
male or female?NA
BELL, Lesley Ann
male or female?f
HWANG, Se Yun
male or female?NA
LEE, Jae Hun
male or female?m
FREED, Lesley Ann
male or female?f
PARIS, Dominique
male or female?NA
PARIS, Dominique
male or female?NA
CREPPIN-LEBLOND, Dominique
male or female?NA
DECHELETTE, Dominique
male or female?NA
SENG, Dominique Jean
male or female?NA
RYU, Cheol Woo
male or female?NA
CHUN, Byung June
male or female?NA
WON, Jong Hyun
male or female?NA
AN, Byung Yeun
male or female?NA
CHOI, Yoon Ho
male or female?NA
CHUNG, Hong Shik
male or female?NA
HONG, Jung Ho
male or female?NA
KANG, Sung Wuk
male or female?NA
KIM, Hyung Moon
male or female?NA
PARK, Soon Cheol
male or female?NA
CHOI, Do Seok
male or female?NA
CHOI, Sung Ho
male or female?NA
HONG, In Gook
male or female?NA
HONG, Jung Ho
male or female?NA
HWANG, In Sang
male or female?NA
JO, Sang Ho
male or female?NA
ADAMS, Aubrey John
male or female?NA
CHONG, Kon Keow
male or female?NA
DEVINAT, Dominique Paul Auguste
male or female?NA
LATU, Jackie
male or female?NA
BAINSFAIR, Lesley Jane
male or female?f
HERBERT, Lesley
male or female?NA
HERBERT, Lesley
male or female?NA
HERBERT, Lesley
male or female?NA
HERBERT, Lesley Elizabeth
male or female?f
THOMSON, Lesley Eunice
male or female?NA
EVERETT, Chai Hung
male or female?NA
EXLEY, Lesley Margaret
male or female?f
RIMMINGTON, Lesley Diane
male or female?f
REINICHE, Dominique Jacqueline Nicole
male or female?f

DAVIS, Lesley Ann
male or female?f
WONG, Choon Wah
male or female?NA
ABBOTT, Chai Ming
male or female?NA
ABBOTT, Chai Ming
male or female?NA
KUOK, Meng Xiong
male or female?NA
TEO, Ching Leun
male or female?NA
BRAK, Anthonie Jacob Carel
male or female?m
CAPEL, Aubrey John
male or female?NA
LIU, Chao
male or female?NA
ZIERING, Sigi, Dr
male or female?NA
SHAH, Bharat Kumar
male or female?m
SHAH, Bharat Kumar Hansraj Devraj
male or female?m
FUNG, Wai -Yan
male or female?NA
XIONG, Xing
male or female?NA
PATERSON, Calum Macdonald
male or female?NA
TANG, Wai Foon
male or female?NA
QUAYLE, Huan
male or female?NA
DRAY, Lesley Jane
male or female?f
HOWELLS, Ceri
male or female?NA
OOI, Shu Mei
male or female?NA
GLOVER, Lesley Anne, Professor Dame
male or female?f
GLOVER, Lesley Anne, Professor Dame
male or female?f
GLOVER, Lesley Anne, Professor Dame
male or female?f
LAW, Kin Fat
male or female?NA
SMITH, Innes
male or female?NA
SMITH, Innes
male or female?NA
BEHARRELL, Lesley
male or female?NA
BOSWELL, Lesley Denise
male or female?f
CHAUDHRY, Shaheen Shahzadi, Doctor
male or female?f
DOBREE, Lesley Anne, Professor
male or female?f
HALLAN, Lesley, Dr
male or female?NA
TUCKER, Pip
male or female?NA
ROLLASON, Lesley Ann, Dr
male or female?f
OOI, Shu Mei
male or female?NA
CARTWRIGHT, Jackie
male or female?NA
CHONG, Ki Woi
male or female?NA
KWOK, Meng
male or female?NA
GIAM, Ting Hee
male or female?NA
GRAHAM, Lesley Anne
male or female?f
SHAH, Bharat Dhirajlal
male or female?m
ANDERSON, Lesley
male or female?NA
FREEMAN, Jackie Doreen
male or female?f
PIN, Dominique
male or female?NA
CALLAGHAN, Lesley Anne
male or female?f
WANG, Jian
male or female?NA
ZHANG, Bin
male or female?NA
SHAH, Bharat Chimanlal
male or female?m
DESAI, Bharat
male or female?m
LAKSHMANAN, Krishna Kumar
male or female?f
PURI, Bharat Tilakraj
male or female?m
DAVIES, Wyn Meredith
male or female?f
DOSHI, Bharat Narotham
male or female?m
DE SORAS, Dominique
male or female?NA
VOGT, Lesley Margaret
male or female?f
VOGT, Lesley Margaret
male or female?f
ZHANG, Ming
male or female?NA
GAIARDO, Dominique
male or female?NA
ADAMS, Lesley Patricia
male or female?f
CLELLAND, Lesley
male or female?NA
SPRINGSGUTH, Ceri Thomas
male or female?NA
MYERS, Shaheen Akhtar
male or female?NA
TELFORD, Lesley
male or female?NA
FISHER, Jackie
male or female?f
ROBINS, Lesley
male or female?NA
DAVIES, Ceri Rhys
male or female?NA
COFFMAN, Casey Ann
male or female?f
DOUGLAS, Lesley
male or female?NA
PEARSON, Kye
male or female?NA
YIU, Kin Wah Stephen
male or female?NA
PEARSON, Kye
male or female?NA
CHOW, Chung Kong, Sir
male or female?m
HAGGER-VAUGHAN, Lesley Jessica
male or female?f
ELLIS, Lesley Anne
male or female?f
ELLIS, Lesley Anne
male or female?f
BARRY, Lesley
male or female?NA
HAWKEN, Xiu Li
male or female?NA
COOK, Lesley Marjorie
male or female?f
GRICE, Lesley
male or female?NA
MACDONAGH, Lesley Anne
male or female?f
WANG, Mei Xin
male or female?NA
LARG, Lesley Ann
male or female?f
WOODWARD, Lesley
male or female?NA
LEI, Shi
male or female?NA
GRAEME, Lesley Joyce
male or female?f
MO-YUNG, Chun Wai
male or female?NA
MATTHEWS, Paige Victoria
male or female?f
GU, Qing
male or female?NA
HUGHES, Jackie, Revd
male or female?NA
JACKSON, Lesley Jane
male or female?f
CHAN, Kee Ham
male or female?NA
SWO, Jo Williams
male or female?NA
MEGRET, Dominique
male or female?NA
CHEN, Wei-Lun
male or female?NA
SUDHEENDRA, Krishna
male or female?m
SUDHEENDRA, Krishna
male or female?NA
HOSEASON, Lesley Jean
male or female?f
NISHIKAWA, Kyo
male or female?NA
GAILLARD, Dominique Jean-Loup
male or female?NA
WEBSTER, Lesley
male or female?NA
WILSON, Lesley Anne
male or female?f
GRAEME, Lesley Joyce
male or female?f
SOUDER, Blair
male or female?NA
SHELLY, Lesley
male or female?NA
BEY, Soo Khiang
male or female?NA
BEY, Soo Khiang
male or female?NA
CHEONG, Choong Kong, Dr
male or female?NA
CHEW, Choon Seng
male or female?NA
CHEW, Choon Seng
male or female?NA
HUMPHREY, Ceri Suzanne
male or female?f
BOESCH, Dominique Francois Xavier
male or female?NA
YAU, Chung Wo
male or female?NA
BATTEN, Lesley
male or female?NA
TONG BARNES, Wai Che Wendy
male or female?NA
TSAI, Chao Chung, Charles
male or female?NA
ORME, Jackie
male or female?NA
ORME, Jackie
male or female?f
LUMSDEN, Innes
male or female?NA
CHOTAI, Bharat Kamarshi
male or female?m
KIM, Dong Hyun
male or female?NA
FORSYTH, Calum James
male or female?m
LILI, Wang
male or female?NA
LIN, Li
male or female?NA
YE, Yin
male or female?NA
ZHANG, Bin
male or female?NA
YEOH, Seok Hong, Dato
male or female?NA
BENNETT, Lesley Clare Stockman
male or female?f
XU, Ke
male or female?NA
BAMBRIDGE, Lesley
male or female?NA
MORAVSKY, Chen Carlos
male or female?NA
WHELAN, Su
male or female?NA
JENKINS, Jo, Dr
male or female?NA
ADAMS, Blair William
male or female?m
ROBERTS, Lesley Jayne
male or female?f
SHI, Yu
male or female?NA
SHERRILL, Kendall Harris
male or female?f
LY, Ling
male or female?NA
LY, Ling
male or female?NA
ZHAO, Ying
male or female?NA
CHENG, Li
male or female?NA
RERAT, Dominique Alain Yvon
male or female?NA
HEAD, Lesley Susan
male or female?f
NEUMANN, Reese Edward
male or female?m
PATERSON, Calum Macdonald
male or female?m

In [40]:
manual_gender

['m',
 'm',
 'f',
 'f',
 'f',
 'f',
 'f',
 'f',
 'f',
 'm',
 'm',
 'f',
 'm',
 'f',
 'f',
 'f',
 'f',
 'f',
 'm',
 'f',
 'm',
 'f',
 'm',
 'f',
 'f',
 'm',
 'f',
 'f',
 'f',
 'f',
 'm',
 'm',
 'm',
 'f',
 'm',
 'm',
 'm',
 'm',
 'm',
 'm',
 'm',
 'f',
 'f',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'm',
 'f',
 'f',
 'f',
 'f',
 'NA',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'm',
 'm',
 'm',
 'm',
 'f',
 'm',
 'm',
 'm',
 'f',
 'NA',
 'm',
 'm',
 'm',
 'NA',
 'f',
 'f',
 'm',
 'm',
 'f',
 'f',
 'f',
 'NA',
 'NA',
 'NA',
 'f',
 'm',
 'f',
 'NA',
 'NA',
 'f',
 'f',
 'NA',
 'NA',
 'NA',
 'f',
 'm',
 'm',
 'f',
 'f',
 'f',
 'NA',
 'NA',
 'f',
 'NA',
 'f',
 'NA',
 'm',
 'm',
 'f',
 'NA',
 'NA',
 'NA',
 'm',
 'NA',
 'm',
 'NA',
 'NA',
 'NA',
 'f',
 'm',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'm',
 'm',
 'NA',
 'm',
 'NA',
 'f',
 'f',
 'NA',
 'm',
 'm',
 'm',
 'm',
 'm',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'f',
 'NA',
 'f',
 'NA',
 'm',
 'm',
 'f',
 'NA',
 'f',
 'f',
 'f',
 'f',
 'm',
 'f',
 'f',
 'm',
 'f',
 'NA',
 'f',
 'f',
 'f',
 'NA',
 'NA',
 'f',
 'f',
 'f',
 'm',
 'NA',
 'f',
 'm',
 'NA',
 'NA',
 'f',
 'NA',
 'm',
 'm',
 'm',
 'm',
 'f',
 'NA',
 'f',
 'NA',
 'm',
 'f',
 'f',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 '',
 'f',
 'f',
 'f',
 'f',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'f',
 'f',
 'NA',
 'f',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'm',
 'NA',
 'm',
 'NA',
 'NA',
 'NA',
 'm',
 'NA',
 'NA',
 'f',
 'f',
 'NA',
 'NA',
 'f',
 'f',
 'NA',
 'NA',
 'm',
 'NA',
 'NA',
 'NA',
 'f',
 'm',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'm',
 'NA',
 'NA',
 'NA',
 'f',
 'f',
 'NA',
 'm',
 'NA',
 'NA',
 'm',
 'm',
 'm',
 'NA',
 'm',
 'm',
 'f',
 'f',
 'NA',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'f',
 'NA',
 'f',
 'm',
 'NA',
 'NA',
 'm',
 'm',
 'NA',
 'NA',
 'f',
 'NA',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'm',
 'f',
 'm',
 'f',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'm',
 'NA',
 'm',
 'f',
 'f',
 'NA',
 'f',
 'f',
 'NA',
 'f',
 'NA',
 'm',
 'HHA',
 'm',
 'f',
 'f',
 'f',
 'f',
 'f',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'm',
 'm',
 'NA',
 'm',
 'm',
 'm',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'm',
 'NA',
 'NA',
 'f',
 'f',
 'f',
 'NA',
 'NA',
 'NA',
 'f',
 'f',
 'f',
 'f',
 'f',
 'f',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'f',
 'f',
 'f',
 'f',
 'f',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'm',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'm',
 'm',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'f',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'NA',
 'f',
 'f',
 'f',
 'NA',
 'f',
 'NA',
 'f',
 'f',
 'NA',
 'f',
 'f',
 'f',
 'f',
 'f',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'NA',
 'm',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'f',
 'f',
 'f',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'm',
 'NA',
 'NA',
 'NA',
 'm',
 'm',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'f',
 'f',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'f',
 'f',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'm',
 'NA',
 'f',
 'NA',
 'f',
 'NA',
 'NA',
 'm',
 'm',
 'f',
 'm',
 'f',
 'm',
 'NA',
 'f',
 'f',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'm',
 'f',
 'f',
 'f',
 'NA',
 'NA',
 'f',
 'NA',
 'f',
 'NA',
 'f',
 'NA',
 'NA',
 'f',
 'NA',
 'f',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'm',
 'NA',
 'f',
 'NA',
 'NA',
 'NA',
 'f',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'NA',
 'm',
 'NA',
 'm',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'm',
 'f',
 'NA',
 'f',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'f',
 'm',
 'm']

In [41]:
index_manual

[761,
 780,
 923,
 1111,
 1251,
 1257,
 2103,
 2202,
 2297,
 2346,
 2666,
 3163,
 3743,
 4213,
 4360,
 4361,
 4433,
 4475,
 4480,
 4688,
 5461,
 5604,
 5713,
 5781,
 5863,
 5984,
 6179,
 6659,
 8025,
 8751,
 11173,
 11813,
 12275,
 12445,
 12717,
 12822,
 12823,
 12843,
 13118,
 14066,
 14078,
 14232,
 14419,
 14423,
 14424,
 14426,
 14438,
 14792,
 15863,
 15954,
 16718,
 16728,
 17086,
 17726,
 17850,
 17986,
 17987,
 17992,
 17996,
 18017,
 18157,
 18402,
 18403,
 18404,
 18695,
 18723,
 18775,
 18916,
 18986,
 20263,
 21696,
 21837,
 21892,
 21990,
 22198,
 22325,
 22767,
 23227,
 23230,
 23391,
 23552,
 23976,
 24631,
 24745,
 25336,
 25350,
 25383,
 25402,
 25937,
 27000,
 27083,
 27346,
 27588,
 27781,
 28154,
 29012,
 29109,
 29110,
 29941,
 30480,
 30588,
 30616,
 31008,
 31294,
 31632,
 31695,
 31712,
 32129,
 33151,
 33284,
 33340,
 33361,
 34514,
 34972,
 35040,
 35252,
 35581,
 35582,
 35583,
 35649,
 36447,
 37969,
 38624,
 38810,
 39228,
 39412,
 39420,
 39624,
 39857,
 40252,
 40396,
 40428,
 40841,
 40876,
 40967,
 41101,
 41409,
 41749,
 42086,
 42087,
 42088,
 42594,
 42726,
 42727,
 42728,
 42733,
 42740,
 42812,
 42842,
 42892,
 43054,
 44401,
 44424,
 44677,
 45026,
 45046,
 45841,
 45849,
 46901,
 46905,
 46923,
 47516,
 47906,
 48017,
 48176,
 48291,
 48405,
 48870,
 49776,
 49921,
 50474,
 51206,
 51312,
 51314,
 51517,
 51645,
 51667,
 52378,
 52461,
 52917,
 53918,
 54054,
 54069,
 54197,
 54399,
 54435,
 55347,
 55486,
 55713,
 55771,
 56929,
 57171,
 57223,
 57243,
 57244,
 57601,
 57613,
 57624,
 58158,
 58280,
 58300,
 58326,
 58355,
 58403,
 58435,
 58587,
 59813,
 60114,
 60485,
 60490,
 61219,
 61758,
 62518,
 62529,
 62742,
 62808,
 62934,
 63011,
 63012,
 63013,
 63869,
 63896,
 63946,
 64665,
 64843,
 65129,
 65795,
 65992,
 66201,
 66553,
 66565,
 66935,
 67991,
 68256,
 68309,
 68422,
 68491,
 68881,
 68960,
 69193,
 69203,
 69268,
 69316,
 69549,
 69797,
 69921,
 69927,
 69929,
 69931,
 69934,
 69936,
 69938,
 69942,
 69949,
 70229,
 70292,
 70295,
 70490,
 70762,
 70928,
 71330,
 71427,
 71535,
 72179,
 72309,
 72330,
 72343,
 72344,
 72469,
 72963,
 73472,
 73560,
 73816,
 74207,
 74317,
 74533,
 74662,
 75794,
 75798,
 76024,
 76279,
 76817,
 77029,
 77926,
 78557,
 78692,
 78814,
 78854,
 78971,
 80259,
 81050,
 81217,
 81653,
 81686,
 82002,
 82014,
 82126,
 82220,
 82398,
 82606,
 82626,
 82802,
 83128,
 83346,
 83397,
 83833,
 83835,
 83944,
 83962,
 84123,
 84723,
 86183,
 86579,
 86615,
 86636,
 87058,
 87375,
 88064,
 88298,
 88721,
 88827,
 89150,
 89260,
 89555,
 89795,
 90756,
 91255,
 91275,
 91529,
 91808,
 93180,
 93232,
 93233,
 93338,
 93383,
 94646,
 94956,
 95208,
 95209,
 95221,
 95247,
 95273,
 95770,
 95845,
 95850,
 95947,
 95976,
 97550,
 97579,
 98281,
 98487,
 98661,
 99105,
 99369,
 99935,
 100093,
 100583,
 100641,
 101016,
 101256,
 101304,
 101362,
 101399,
 101400,
 101687,
 101817,
 102567,
 102577,
 102869,
 103201,
 103332,
 103507,
 105549,
 105591,
 105643,
 105699,
 106793,
 106798,
 106814,
 106840,
 106852,
 107069,
 107297,
 107582,
 107840,
 107985,
 108011,
 108018,
 108362,
 108545,
 108571,
 108572,
 108573,
 108703,
 109117,
 109468,
 109665,
 109681,
 109692,
 110038,
 110312,
 110330,
 110334,
 110339,
 110649,
 112210,
 112225,
 112969,
 113668,
 114335,
 114673,
 114681,
 114831,
 115166,
 115333,
 115337,
 115399,
 115739,
 115829,
 116319,
 118316,
 118499,
 118505,
 119152,
 119210,
 119680,
 119764,
 119765,
 120455,
 120730,
 120761,
 121006,
 121009,
 121326,
 121544,
 121545,
 121546,
 121547,
 121551,
 121552,
 121553,
 121554,
 121555,
 121558,
 121562,
 121564,
 121566,
 121567,
 121568,
 121569,
 122124,
 122378,
 122409,
 122485,
 122675,
 122820,
 122829,
 122837,
 122849,
 123074,
 123363,
 123822,
 123929,
 124499,
 124786,
 124798,
 124799,
 124800,
 124806,
 124808,
 125194,
 125425,
 125694,
 126036,
 126235,
 126238,
 126816,
 127130,
 127143,
 127435,
 128291,
 128831,
 128851,
 129059,
 129274,
 129303,
 129360,
 130030,
 130200,
 130204,
 130282,
 130711,
 131194,
 131340,
 131345,
 131453,
 131933,
 132307,
 132485,
 132698,
 132701,
 132712,
 132922,
 132946,
 133016,
 133541,
 133967,
 134281,
 134376,
 134377,
 134485,
 135558,
 136572,
 136573,
 136979,
 137145,
 137187,
 137649,
 137673,
 138109,
 138175,
 138425,
 138640,
 139299,
 139489,
 139729,
 141018,
 141118,
 141198,
 141260,
 141303,
 141308,
 141316,
 141321,
 141330,
 141504,
 141879,
 141881,
 142161,
 142487,
 142729,
 143299,
 143605,
 143656,
 144545,
 144883,
 145101,
 145393,
 145463,
 146238,
 146493,
 147907,
 148470,
 148797,
 149245,
 149553,
 150111,
 150569,
 150573,
 150684,
 151053,
 151632,
 151663,
 151672,
 151987,
 152027,
 152123,
 152187,
 152188,
 152196,
 152197,
 152198,
 152993,
 153223,
 153885,
 153943,
 153979,
 153980,
 154110,
 154141,
 154370,
 154434,
 154644,
 155088,
 155420,
 155421,
 155432,
 155433,
 156217,
 156225,
 156237,
 156419,
 156902,
 157021,
 157415,
 158460,
 158867,
 158887,
 158965,
 159170,
 159176,
 159223,
 159230,
 159310,
 159450,
 161161,
 161638]

In [65]:
andy_gender = pd.DataFrame(index=index_manual)
andy_gender['manual_gender'] = manual_gender
andy_gender.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 607 entries, 761 to 161638
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   manual_gender  607 non-null    object
dtypes: object(1)
memory usage: 9.5+ KB

In [71]:
andy_gender['manual_gender'][andy_gender['manual_gender'] == 'NA'] = np.nan

In [72]:
andy_gender.value_counts()

manual_gender
female           194
male             105
dtype: int64

In [106]:
# andy_gender.to_csv('andy_gender_18_19')

In [73]:
detailed_officers_18_19_test = pd.concat([detailed_officers_18_19, andy_gender], axis=1)

In [74]:
detailed_officers_18_19_test

,company_no,name,date_appointed,date_resigned,test,first_name,middle_name_1,gender_first_name,gender_middle_name,after_2019,manual_gender
0,SC016876,"VALENTINE, Dianne Davidson",2015-05-11,None,Dianne Davidson,Dianne,Davidson,female,male,0.0,NaN
1,SC016876,"CLUBB, Malcolm Richard",2018-05-09,None,Malcolm Richard,Malcolm,Richard,male,male,0.0,NaN
2,SC016876,"CUMMING, Alexander Coulson",None,None,Alexander Coulson,Alexander,Coulson,male,unknown,0.0,NaN
3,SC016876,"CUMMING, Charles Nigel Coulson",None,None,Charles Nigel Coulson,Charles,Nigel,male,male,0.0,NaN
4,SC016876,"GALT, Philip Callaghan",2014-08-19,None,Philip Callaghan,Philip,Callaghan,male,unknown,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
161651,01032611,"HIGGINSON, Anthony Mitchell",2002-09-19,2020-12-31,Anthony Mitchell,Anthony,Mitchell,male,male,0.0,NaN
161652,01032611,"HIGGINSON, Julie Elizabeth",2007-08-12,2020-12-31,Julie Elizabeth,Julie,Elizabeth,female,female,0.0,NaN
161653,01032611,"LOTGERINK, Ronald Emmanuel Maria",1998-06-05,2018-07-26,Ronald Emmanuel Maria,Ronald,Emmanuel,male,male,0.0,NaN
161654,01032611,"STEVERS-VAN DER LAAN, Johanna Clazina Maria",None,2016-06-30,Johanna Clazina Maria,Johanna,Clazina,female,female,0.0,NaN
161655,01032611,"VAN DER LAAN, Adrianus Maria",None,2017-07-03,Adrianus Maria,Adrianus,Maria,male,female,0.0,NaN

<font color='red'>

#### I dummified the gender columns and then for those that were listed as 'mostly female' and had a female middle name, I changed these to female. Similarly, if the first name was 'mostly male' and the middle name was male, I converted them to a male. 
    
#### I then combined all column data on gender to generate a count of male officers and female officers per country. This was then used to calculate the proportion of officers who were female. 
    
</font>

In [75]:
detailed_officers_18_19_test = pd.get_dummies(detailed_officers_18_19_test, columns = ['gender_first_name', 'gender_middle_name', 'manual_gender'])

In [76]:
detailed_officers_18_19_test.head()

,company_no,name,date_appointed,date_resigned,test,first_name,middle_name_1,after_2019,gender_first_name_andy,gender_first_name_female,...,gender_first_name_mostly_female,gender_first_name_mostly_male,gender_middle_name_andy,gender_middle_name_female,gender_middle_name_male,gender_middle_name_mostly_female,gender_middle_name_mostly_male,gender_middle_name_unknown,manual_gender_female,manual_gender_male
0,SC016876,"VALENTINE, Dianne Davidson",2015-05-11,None,Dianne Davidson,Dianne,Davidson,0.0,0,1,...,0,0,0,0,1,0,0,0,0,0
1,SC016876,"CLUBB, Malcolm Richard",2018-05-09,None,Malcolm Richard,Malcolm,Richard,0.0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,SC016876,"CUMMING, Alexander Coulson",None,None,Alexander Coulson,Alexander,Coulson,0.0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,SC016876,"CUMMING, Charles Nigel Coulson",None,None,Charles Nigel Coulson,Charles,Nigel,0.0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,SC016876,"GALT, Philip Callaghan",2014-08-19,None,Philip Callaghan,Philip,Callaghan,0.0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [86]:
detailed_officers_18_19_test['middle_check_manual_female'] = 0
detailed_officers_18_19_test['middle_check_manual_male'] = 0

In [87]:
for i, line in enumerate(detailed_officers_18_19_test['gender_first_name_mostly_female']):
    if line == 1 and detailed_officers_18_19_test['gender_middle_name_female'][i] == 1:
        detailed_officers_18_19_test['middle_check_manual_female'][i] = 1
    else:
        detailed_officers_18_19_test['middle_check_manual_female'][i] = 0

<ipython-input-87-4f8668e86d9f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detailed_officers_18_19_test['middle_check_manual_female'][i] = 0
<ipython-input-87-4f8668e86d9f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detailed_officers_18_19_test['middle_check_manual_female'][i] = 1

In [88]:
for i, line in enumerate(detailed_officers_18_19_test['gender_first_name_mostly_male']):
    if line == 1 and detailed_officers_18_19_test['gender_middle_name_male'][i] == 1:
        detailed_officers_18_19_test['middle_check_manual_male'][i] = 1
    else:
        detailed_officers_18_19_test['middle_check_manual_male'][i] = 0

<ipython-input-88-e4b204a8a76c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detailed_officers_18_19_test['middle_check_manual_male'][i] = 0
<ipython-input-88-e4b204a8a76c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detailed_officers_18_19_test['middle_check_manual_male'][i] = 1

In [89]:
detailed_officers_18_19_test['middle_check_manual_female'].value_counts()

0    160844
1       812
Name: middle_check_manual_female, dtype: int64

In [90]:
detailed_officers_18_19_test['middle_check_manual_male'].value_counts()

0    160598
1      1058
Name: middle_check_manual_male, dtype: int64

In [91]:
detailed_officers_18_19_test.head()

,company_no,name,date_appointed,date_resigned,test,first_name,middle_name_1,after_2019,gender_first_name_andy,gender_first_name_female,...,gender_middle_name_andy,gender_middle_name_female,gender_middle_name_male,gender_middle_name_mostly_female,gender_middle_name_mostly_male,gender_middle_name_unknown,manual_gender_female,manual_gender_male,middle_check_manual_female,middle_check_manual_male
0,SC016876,"VALENTINE, Dianne Davidson",2015-05-11,None,Dianne Davidson,Dianne,Davidson,0.0,0,1,...,0,0,1,0,0,0,0,0,0,0
1,SC016876,"CLUBB, Malcolm Richard",2018-05-09,None,Malcolm Richard,Malcolm,Richard,0.0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,SC016876,"CUMMING, Alexander Coulson",None,None,Alexander Coulson,Alexander,Coulson,0.0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,SC016876,"CUMMING, Charles Nigel Coulson",None,None,Charles Nigel Coulson,Charles,Nigel,0.0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,SC016876,"GALT, Philip Callaghan",2014-08-19,None,Philip Callaghan,Philip,Callaghan,0.0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [93]:
detailed_officers_18_19_test['female_final'] = detailed_officers_18_19_test.gender_first_name_female + detailed_officers_18_19_test.manual_gender_female + detailed_officers_18_19_test.middle_check_manual_female

In [94]:
detailed_officers_18_19_test['male_final'] = detailed_officers_18_19_test.gender_first_name_male + detailed_officers_18_19_test.manual_gender_male + detailed_officers_18_19_test.middle_check_manual_male

In [98]:
detailed_officers_18_19_test.female_final.value_counts()

0    134151
1     27505
Name: female_final, dtype: int64

In [107]:
detailed_officers_18_19_test[detailed_officers_18_19_test.female_final == 0 & detailed_officers_18_19_test.male_final == 0]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [108]:
detailed_officers_18_19_test['filter'] = 0

In [116]:
for i, line in enumerate(detailed_officers_18_19_test['female_final']):
    if line == 1 or detailed_officers_18_19_test['male_final'][i] == 1:
        detailed_officers_18_19_test['filter'][i] = 1
    else:
        detailed_officers_18_19_test['filter'][i] = np.nan

<ipython-input-116-0906209813ab>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detailed_officers_18_19_test['filter'][i] = 1
<ipython-input-116-0906209813ab>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detailed_officers_18_19_test['filter'][i] = np.nan
/Users/gitas/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [117]:
detailed_officers_18_19_test['filter'].value_counts()

1.0    153819
Name: filter, dtype: int64

In [118]:
detailed_officers_18_19_test.dropna(subset=['filter'], inplace=True)

In [154]:
detailed_officers_18_19_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153819 entries, 0 to 161655
Data columns (total 26 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   company_no                        153819 non-null  object
 1   name                              153819 non-null  object
 2   date_appointed                    153819 non-null  object
 3   date_resigned                     153819 non-null  object
 4   test                              153819 non-null  object
 5   first_name                        153819 non-null  object
 6   middle_name_1                     114432 non-null  object
 7   after_2019                        153819 non-null  float64
 8   gender_first_name_andy            153819 non-null  uint8
 9   gender_first_name_female          153819 non-null  uint8
 10  gender_first_name_male            153819 non-null  uint8
 11  gender_first_name_mostly_female   153819 non-null  uint8
 12  gender_first_name_mostly_male     153819 non-null  uint8
 13  gender_middle_name_andy           153819 non-null  uint8
 14  gender_middle_name_female         153819 non-null  uint8
 15  gender_middle_name_male           153819 non-null  uint8
 16  gender_middle_name_mostly_female  153819 non-null  uint8
 17  gender_middle_name_mostly_male    153819 non-null  uint8
 18  gender_middle_name_unknown        153819 non-null  uint8
 19  manual_gender_female              153819 non-null  uint8
 20  manual_gender_male                153819 non-null  uint8
 21  middle_check_manual_female        153819 non-null  int64
 22  middle_check_manual_male          153819 non-null  int64
 23  female_final                      153819 non-null  int64
 24  male_final                        153819 non-null  int64
 25  filter                            153819 non-null  float64
dtypes: float64(2), int64(4), object(7), uint8(13)
memory usage: 18.3+ MB

In [224]:
grouped_by_company = detailed_officers_18_19_test.groupby('company_no')
final_gendercount_18_19 = grouped_by_company.sum()

In [225]:
final_gendercount_18_19.columns

Index(['after_2019', 'gender_first_name_andy', 'gender_first_name_female',
       'gender_first_name_male', 'gender_first_name_mostly_female',
       'gender_first_name_mostly_male', 'gender_middle_name_andy',
       'gender_middle_name_female', 'gender_middle_name_male',
       'gender_middle_name_mostly_female', 'gender_middle_name_mostly_male',
       'gender_middle_name_unknown', 'manual_gender_female',
       'manual_gender_male', 'middle_check_manual_female',
       'middle_check_manual_male', 'female_final', 'male_final', 'filter'],
      dtype='object')

In [226]:
final_gendercount_18_19.drop(columns = ['after_2019', 'gender_first_name_andy',
       'gender_first_name_female', 'gender_first_name_male',
       'gender_first_name_mostly_female', 'gender_first_name_mostly_male',
       'gender_middle_name_andy', 'gender_middle_name_female',
       'gender_middle_name_male', 'gender_middle_name_mostly_female',
       'gender_middle_name_mostly_male', 'gender_middle_name_unknown',
       'manual_gender_female', 'manual_gender_male',
       'middle_check_manual_female', 'middle_check_manual_male', 'filter'], inplace=True)

In [227]:
final_gendercount_18_19['percent_female_officer'] = final_gendercount_18_19.female_final/(final_gendercount_18_19.female_final+final_gendercount_18_19.male_final)

In [228]:
# final_gendercount_18_19.to_csv('final_gendercount_18_19', index='company_no')

In [229]:
final_gendercount_18_19 = pd.read_csv('final_gendercount_18_19')

In [230]:
final_gendercount_18_19.set_index(keys = 'company_no', inplace=True)

In [233]:
final_gendercount_18_19.describe()

       female_final   male_final  percent_female_officer
count   7810.000000  7810.000000             7810.000000
mean       3.521767    16.173367                0.187136
std        3.484793     8.873243                0.163375
min        0.000000     0.000000                0.000000
25%        1.000000     9.000000                0.066667
50%        3.000000    16.000000                0.151515
75%        5.000000    24.000000                0.266667
max       24.000000    35.000000                1.000000

In [246]:
final_gendercount_18_19[final_gendercount_18_19['percent_female_officer'] >= 0.5]

            female_final  male_final  percent_female_officer
company_no
00006400              23          12                0.657143
00231824              18          13                0.580645
00232081              17          14                0.548387
00353341              17          13                0.566667
00430051               5           3                0.625000
...                  ...         ...                     ...
SC402097               3           2                0.600000
SC412450               6           3                0.666667
SC421599               1           1                0.500000
SC423096               1           1                0.500000
SE000103               4           4                0.500000

[527 rows x 3 columns]

In [ ]:
# interesting that only 500/ 7800 companies have 50% or more female officers whereas 7300 have >50% male officers.