## 4. Combining all Data Frames and Cleaning the Data

I needed to combine the following DataFrames:

* The original gender pay gap data for 18/19 (csv file)
* Companies House data 18/19 (scraped via API from CH)
* Final gendercount_18_19 (% female officers)
* company location_18_19 (scraped via API from CH)
* all_ratings_18_19 (scraped via BeautifulSoup from Indeed.com)

### Step 1: Firstly I had to read in the files and then combined them using pd.merge - adding them to a master dataset one by one. The dataframes were joined using the index, which was the Company Number for each of the dataframes. Note, since the final scrape wasn't completed at this time, the rating data was joined in Step 4.

In [1]:
import numpy as np
import pandas as pd

In [2]:
GPG_18_19 = pd.read_csv('/Users/gitas/Desktop/GA/Capstone/Gender_Pay_Gap_Data/UK_Gender_Pay_Gap_Data_2018_2019.csv')

In [3]:
GPG_18_19.dropna(subset=['CompanyNumber', 'DiffMeanBonusPercent', 'DiffMedianBonusPercent'], inplace=True)

In [4]:
GPG_18_19.reset_index(drop=True, inplace=True)

In [5]:
GPG_18_19.set_index(keys='CompanyNumber', inplace=True)

In [6]:
GPG_18_19.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8105 entries, SC016876 to 01032611
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   EmployerName               8105 non-null   object
 1   Address                    8105 non-null   object
 2   SicCodes                   7713 non-null   object
 3   DiffMeanHourlyPercent      8105 non-null   float64
 4   DiffMedianHourlyPercent    8105 non-null   float64
 5   DiffMeanBonusPercent       8105 non-null   float64
 6   DiffMedianBonusPercent     8105 non-null   float64
 7   MaleBonusPercent           8105 non-null   float64
 8   FemaleBonusPercent         8105 non-null   float64
 9   MaleLowerQuartile          8105 non-null   float64
 10  FemaleLowerQuartile        8105 non-null   float64
 11  MaleLowerMiddleQuartile    8105 non-null   float64
 12  FemaleLowerMiddleQuartile  8105 non-null   float64
 13  MaleUpperMiddleQuartile    8105 non-null   float64
 14  FemaleUpperMiddleQuartile  8105 non-null   float64
 15  MaleTopQuartile            8105 non-null   float64
 16  FemaleTopQuartile          8105 non-null   float64
 17  CompanyLinkToGPGInfo       5669 non-null   object
 18  ResponsiblePerson          7840 non-null   object
 19  EmployerSize               8105 non-null   object
 20  CurrentName                8105 non-null   object
 21  SubmittedAfterTheDeadline  8105 non-null   bool
 22  DueDate                    8105 non-null   object
 23  DateSubmitted              8105 non-null   object
dtypes: bool(1), float64(14), object(9)
memory usage: 1.5+ MB

In [7]:
companies_house_18_19 = pd.read_csv('companies_house_18_19', index_col='company_no')
companies_house_18_19.drop(columns='Unnamed: 0', inplace=True)
companies_house_18_19.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8105 entries, SC016876 to 01032611
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   company_status              8105 non-null   object
 1   creation_date               7965 non-null   object
 2   jurisdiction                8105 non-null   object
 3   registered_address_country  8105 non-null   object
 4   company_type                8105 non-null   object
dtypes: object(5)
memory usage: 379.9+ KB

In [8]:
company_location_18_19 = pd.read_csv('company_location_18_19', index_col='company_no')
company_location_18_19.drop(columns='Unnamed: 0', inplace=True)
company_location_18_19.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8105 entries, SC016876 to 01032611
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   locality  8068 non-null   object
 1   country   8105 non-null   object
dtypes: object(2)
memory usage: 190.0+ KB

In [9]:
final_gendercount_18_19 = pd.read_csv('final_gendercount_18_19', index_col='company_no')
final_gendercount_18_19.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7810 entries, 00000140 to ZC000164
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   female_final            7810 non-null   int64
 1   male_final              7810 non-null   int64
 2   percent_female_officer  7810 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 244.1+ KB

In [10]:
combined_18_19_1 = pd.merge(GPG_18_19, companies_house_18_19,
                          left_index=True, right_index=True)

In [11]:
combined_18_19_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8087 entries, 00000140 to ZC000195
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EmployerName                8087 non-null   object
 1   Address                     8087 non-null   object
 2   SicCodes                    7699 non-null   object
 3   DiffMeanHourlyPercent       8087 non-null   float64
 4   DiffMedianHourlyPercent     8087 non-null   float64
 5   DiffMeanBonusPercent        8087 non-null   float64
 6   DiffMedianBonusPercent      8087 non-null   float64
 7   MaleBonusPercent            8087 non-null   float64
 8   FemaleBonusPercent          8087 non-null   float64
 9   MaleLowerQuartile           8087 non-null   float64
 10  FemaleLowerQuartile         8087 non-null   float64
 11  MaleLowerMiddleQuartile     8087 non-null   float64
 12  FemaleLowerMiddleQuartile   8087 non-null   float64
 13  MaleUpperMiddleQuartile     8087 non-null   float64
 14  FemaleUpperMiddleQuartile   8087 non-null   float64
 15  MaleTopQuartile             8087 non-null   float64
 16  FemaleTopQuartile           8087 non-null   float64
 17  CompanyLinkToGPGInfo        5654 non-null   object
 18  ResponsiblePerson           7824 non-null   object
 19  EmployerSize                8087 non-null   object
 20  CurrentName                 8087 non-null   object
 21  SubmittedAfterTheDeadline   8087 non-null   bool
 22  DueDate                     8087 non-null   object
 23  DateSubmitted               8087 non-null   object
 24  company_status              8087 non-null   object
 25  creation_date               7947 non-null   object
 26  jurisdiction                8087 non-null   object
 27  registered_address_country  8087 non-null   object
 28  company_type                8087 non-null   object
dtypes: bool(1), float64(14), object(14)
memory usage: 1.8+ MB

In [12]:
combined_18_19_2 = pd.merge(combined_18_19_1, company_location_18_19,
                          left_index=True, right_index=True)

In [14]:
combined_18_19_3 = pd.merge(combined_18_19_2, final_gendercount_18_19,
                          left_index=True, right_index=True)

In [16]:
combined_18_19_3.isnull().sum()

EmployerName                     0
Address                          0
SicCodes                       145
DiffMeanHourlyPercent            0
DiffMedianHourlyPercent          0
DiffMeanBonusPercent             0
DiffMedianBonusPercent           0
MaleBonusPercent                 0
FemaleBonusPercent               0
MaleLowerQuartile                0
FemaleLowerQuartile              0
MaleLowerMiddleQuartile          0
FemaleLowerMiddleQuartile        0
MaleUpperMiddleQuartile          0
FemaleUpperMiddleQuartile        0
MaleTopQuartile                  0
FemaleTopQuartile                0
CompanyLinkToGPGInfo          2380
ResponsiblePerson              240
EmployerSize                     0
CurrentName                      0
SubmittedAfterTheDeadline        0
DueDate                          0
DateSubmitted                    0
company_status                   0
creation_date                    2
jurisdiction                     0
registered_address_country       0
company_type                     0
locality                         0
country                          0
female_final                     0
male_final                       0
percent_female_officer           0
dtype: int64

### Step 2: Converted the company link, responsible person and whether or not the gender pay gap data was submitted after the deadline into boolean features - many of the companies do not have any link and the factor I think will have most impact on the gender pay gap result is whether or not the company has a dedicated page on their website for gender pay gap or whether they have assigned a gender pay gap responsible person

In [17]:
combined_18_19_3['no_CompanyLink'] = combined_18_19_3.CompanyLinkToGPGInfo.isnull()*1
combined_18_19_3.no_CompanyLink.value_counts()

0    5430
1    2380
Name: no_CompanyLink, dtype: int64

In [18]:
combined_18_19_3['no_ResponsiblePerson'] = combined_18_19_3.ResponsiblePerson.isnull()*1
combined_18_19_3.no_ResponsiblePerson.value_counts()

0    7570
1     240
Name: no_ResponsiblePerson, dtype: int64

In [21]:
combined_18_19_3.SubmittedAfterTheDeadline = combined_18_19_3.SubmittedAfterTheDeadline*1
combined_18_19_3.SubmittedAfterTheDeadline.value_counts()

### Step 3: Some columns were dropped as they were not relevent for the model - either because the original column was used for feature engineering, because the data was not applicable or because the data was duplicated somewhere else.

In [22]:
combined_18_19_3.drop(columns=['Address', 'CompanyLinkToGPGInfo', 'ResponsiblePerson', 'CurrentName', 
                               'DueDate', 'DateSubmitted', 'creation_date', 'country'], inplace=True)

In [23]:
combined_18_19_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7810 entries, 00000140 to ZC000164
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EmployerName                7810 non-null   object
 1   SicCodes                    7665 non-null   object
 2   DiffMeanHourlyPercent       7810 non-null   float64
 3   DiffMedianHourlyPercent     7810 non-null   float64
 4   DiffMeanBonusPercent        7810 non-null   float64
 5   DiffMedianBonusPercent      7810 non-null   float64
 6   MaleBonusPercent            7810 non-null   float64
 7   FemaleBonusPercent          7810 non-null   float64
 8   MaleLowerQuartile           7810 non-null   float64
 9   FemaleLowerQuartile         7810 non-null   float64
 10  MaleLowerMiddleQuartile     7810 non-null   float64
 11  FemaleLowerMiddleQuartile   7810 non-null   float64
 12  MaleUpperMiddleQuartile     7810 non-null   float64
 13  FemaleUpperMiddleQuartile   7810 non-null   float64
 14  MaleTopQuartile             7810 non-null   float64
 15  FemaleTopQuartile           7810 non-null   float64
 16  EmployerSize                7810 non-null   object
 17  SubmittedAfterTheDeadline   7810 non-null   int64
 18  company_status              7810 non-null   object
 19  jurisdiction                7810 non-null   object
 20  registered_address_country  7810 non-null   object
 21  company_type                7810 non-null   object
 22  locality                    7810 non-null   object
 23  female_final                7810 non-null   int64
 24  male_final                  7810 non-null   int64
 25  percent_female_officer      7810 non-null   float64
 26  no_CompanyLink              7810 non-null   int64
 27  no_ResponsiblePerson        7810 non-null   int64
dtypes: float64(15), int64(5), object(8)
memory usage: 1.7+ MB

<font color='red'>

#### The Sic Code was included in the original gender pay gap dataset - this gives information about the sector of the company. I replaced the null rows with the word "None'.
    
</font>

In [33]:
combined_18_19_3.SicCodes[combined_18_19_3.SicCodes.isnull()] = 'None'

<ipython-input-33-0c9ee286c107>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_18_19_3.SicCodes[combined_18_19_3.SicCodes.isnull()] = 'None'

In [36]:
combined_18_19_3[['SicCodes']]

                       SicCodes
00000140                  46730
00002065                  64191
00002404          50100,\n50200
00006400  85100,\n85200,\n85310
00008614                  29201
...                         ...
SO300380                   None
SO300381                   None
SO302085                   None
ZC000018                  64191
ZC000164                  92000

[7810 rows x 1 columns]

### Step 4: The rating data was read in. Since reviews were not obtained for all companies, I dropped rows that had an NA in the colunn number_of_reviews, as these were companies for which no review data could be screaped. The dataset was merged with the earlier combined dataset, companies for which there were no review data obtained were removed. I repeated the same step as before, removing the columns that would not be needed in the model,

In [37]:
all_reviews_18_19 = pd.read_csv('all_reviews_18_19', index_col='CompanyNumber')
all_reviews_18_19.head(10)

,Unnamed: 0,review_date,review_header,review_text,review_pros,review_cons,count_5_star,count_4_star,count_3_star,count_2_star,count_1_star,number_of_reviews,company_rating,work_life_balance,pay_and_benefits,job_security_and_advancement,management,culture,EmployerName,employer_clean
CompanyNumber,,,,,,,,,,,,,,,,,,,,
SC016876,0,[],[],[],[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"""RED BAND"" CHEMICAL COMPANY, LIMITED","""RED"
03951948,1,[],[],[],[],[],1,3,2,0,0,6 reviews,3.8,3.3,2.5,2.5,3.0,3.3,118 LIMITED,118
10530651,2,[],[],[],[],[],NaN,NaN,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123 EMPLOYEES LTD,123
04104101,3,[],[],[],[],[],NaN,NaN,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1509 GROUP,1509
06727055,4,"[['28 November 2017'], ['12 July 2017'], ['26 ...",['The turn over of staff tells you everything ...,"['Once a fantastic company to work for, 1610 w...",['Opportunities to be promoted quickly'],['Lack of support mechanisms available to deli...,2,1,0,1,0,4 reviews,4.0,4.0,3.8,3.5,3.0,3.5,1610 LIMITED,1610
02566586,5,[],[],[],[],[],7,1,0,0,0,8 reviews,4.9,4.3,4.5,5.0,4.6,5.0,1LIFE MANAGEMENT SOLUTIONS LIMITED,1LIFE
07972006,6,"[['27 January 2016'], ['12 November 2016']]","['ok', 'good to work with']","['It was okay working there, long hours and go...",['good experience'],['long hours'],1,2,2,1,1,7 reviews,3.1,3.3,2.7,2.8,3.0,3.0,1ST CHOICE STAFF RECRUITMENT LIMITED,1ST
SC156515,7,[],[],[],[],[],NaN,NaN,2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 AGRICULTURE LIMITED,2
02826929,8,[],[],[],[],[],NaN,NaN,2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 SISTERS FOOD GROUP LIMITED,2
SC440782,9,[],[],[],[],[],NaN,NaN,2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 SISTERS POULTRY LIMITED,2
08942815,10,[],[],[],[],[],NaN,NaN,2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 Touch Bpo Services Ltd,2
08014079,11,[],[],[],[],[],NaN,NaN,2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.5 DEGREES LIMITED,23.5
00456846,12,"[['4 September 2014'], ['6 April 2018'], ['9 J...","['Generally a good work place.', 'excellent pl...",['• Responsible for picking and loading chille...,['Opportunity to work as many hours as you req...,"['Very hard labour.', 'long hours', 'temporary...",5,3,7,4,4,23 reviews,3.0,2.9,3.4,3.0,2.8,3.2,3663 TRANSPORT LIMITED,3663
01123045,13,"[['5 June 2017'], ['5 June 2017'], ['20 Februa...","['Not what it was', 'Not what it was', 'Huge m...",['3M have changed considerably since 2005. Th...,"['Still offer a competitive salary', 'Still of...","['No longer a ""Fun"" company to work for', 'No ...",1.8K,1.4K,704,200,230,4.3K reviews,4.0,3.8,3.9,3.5,3.5,3.8,3M UNITED KINGDOM PUBLIC LIMITED COMPANY,3M
06913368,14,[],[],[],[],[],NaN,NaN,704,200,230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5 HERTFORD STREET LIMITED,5
07923816,15,[],[],[],[],[],NaN,NaN,704,200,230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7 Hills Leisure Trust,7
04437266,16,[],[],[],[],[],NaN,NaN,704,200,230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A & L RESTAURANTS LIMITED,A
04289561,17,[],[],[],[],[],NaN,NaN,704,200,230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A & S Restaurants Ltd,A
00538043,18,[],[],[],[],[],NaN,NaN,704,200,230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A B GRAPHIC INTERNATIONAL LIMITED,A
08345484,19,[],[],[],[],[],NaN,NaN,704,200,230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A F A RESTAURANTS LIMITED,A
02446884,20,[],[],[],[],[],NaN,NaN,704,200,230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A GOMEZ LIMITED,A
06865953,21,[],[],[],[],[],NaN,NaN,704,200,230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A J W AVIATION LTD,A
04493101,22,[['16 November 2017']],['great'],['It was great and I enjoyed it very much here...,[],[],2,0,0,0,0,2 reviews,5.0,5.0,5.0,5.0,4.0,4.0,A-DAY CONSULTANTS LIMITED,A-DAY
00750484,23,[],[],[],[],[],NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A-Plan Holdings,A-Plan
01543721,24,[],[],[],[],[],0,0,1,0,0,1 review,3.0,3.0,3.0,3.0,3.0,3.0,A. & B. GLASS COMPANY LIMITED,A.
00323778,25,[],[],[],[],[],0,0,1,0,0,1 review,3.0,3.0,3.0,3.0,3.0,3.0,A. SHARE & SONS LIMITED,A.
04168334,26,"[['7 March 2019'], ['27 February 2019'], ['29 ...","['Absolutley awful place to work.', 'None', 'H...","['The worst place ever worked, i had my dinner...","['None', 'Good work mates', 'Renumeration - AB...","['Everything but worst wage is missing 200', '...",2.2K,2K,2.1K,1.1K,1.7K,9K reviews,3.2,3.2,2.8,2.9,2.9,3.1,A.B.M. CATERING LIMITED,A.B.M.
09732369,27,[],[],[],[],[],NaN,NaN,2.1K,1.1K,1.7K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A.C. GOATHAM AND SON LIMITED,A.C.
03263498,28,[],[],[],[],[],NaN,NaN,2.1K,1.1K,1.7K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A.C. NIELSEN COMPANY LIMITED,A.C.
00515144,29,[],[],[],[],[],1,3,2,4,1,11 reviews,2.9,2.5,2.6,2.5,2.3,2.7,A.C.S. & T. GRIMSBY LTD.,A.C.S.
00580331,30,[],[],[],[],[],NaN,NaN,2,4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A.CLARKE & CO.(SMETHWICK)LIMITED,A.CLARKE
00391135,31,[],[],[],[],[],0,0,0,1,0,1 review,2.0,2.0,2.0,1.0,1.0,2.0,A.F.BLAKEMORE AND SON LIMITED,A.F.BLAKEMORE
SC005653,32,[],[],[],[],[],NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A.G. BARR P.L.C.,A.G.
01472970,33,[],[],[],[],[],NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A.G. PARFETT & SONS LIMITED,A.G.
07160851,34,[],[],[],[],[],NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A.G.A.I. & CO LIMITED,A.G.A.I.
00689647,35,[],[],[],[],[],NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A.J.N. STEELSTOCK LTD.,A.J.N.
00989239,36,[],[],[],[],[],NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A.W. & D. HAMMOND LIMITED,A.W.
03262419,37,[['30 August 2016']],['Professional and extremely friendly'],['a24 are very accomodating and a lovely agenc...,['Variation'],"['Travelling long journeys, but its part of th...",1,0,2,0,0,3 reviews,3.7,3.7,3.7,2.7,3.0,3.7,A24 GROUP LIMITED,A24
IP28985R,38,"[['15 March 2019'], ['10 January 2019'], ['21 ...",['I work for 7 months they not good they don’t...,['A2 Dominos they Are not good people to work ...,"['Very bad', 'Free Teas/Coffee', 'No trvelling...",['Cold to work heating switched of during wint...,7,12,2,0,3,24 reviews,3.8,3.6,3.7,3.5,3.5,3.6,A2DOMINION HOUSING GROUP LIMITED,A2DOMINION
03506401,39,[],[],[],[],[],NaN,NaN,2,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A3D2 LIMITED,A3D2

In [38]:
all_reviews_18_19.dropna(subset=['number_of_reviews'], inplace=True)

In [39]:
combined_18_19_4 = pd.merge(combined_18_19_3, all_reviews_18_19,
                          left_index=True, right_index=True)

In [40]:
combined_18_19_4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6373 entries, 00002065 to ZC000164
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   EmployerName_x                6373 non-null   object
 1   SicCodes                      6373 non-null   object
 2   DiffMeanHourlyPercent         6373 non-null   float64
 3   DiffMedianHourlyPercent       6373 non-null   float64
 4   DiffMeanBonusPercent          6373 non-null   float64
 5   DiffMedianBonusPercent        6373 non-null   float64
 6   MaleBonusPercent              6373 non-null   float64
 7   FemaleBonusPercent            6373 non-null   float64
 8   MaleLowerQuartile             6373 non-null   float64
 9   FemaleLowerQuartile           6373 non-null   float64
 10  MaleLowerMiddleQuartile       6373 non-null   float64
 11  FemaleLowerMiddleQuartile     6373 non-null   float64
 12  MaleUpperMiddleQuartile       6373 non-null   float64
 13  FemaleUpperMiddleQuartile     6373 non-null   float64
 14  MaleTopQuartile               6373 non-null   float64
 15  FemaleTopQuartile             6373 non-null   float64
 16  EmployerSize                  6373 non-null   object
 17  SubmittedAfterTheDeadline     6373 non-null   int64
 18  company_status                6373 non-null   object
 19  jurisdiction                  6373 non-null   object
 20  registered_address_country    6373 non-null   object
 21  company_type                  6373 non-null   object
 22  locality                      6373 non-null   object
 23  female_final                  6373 non-null   int64
 24  male_final                    6373 non-null   int64
 25  percent_female_officer        6373 non-null   float64
 26  no_CompanyLink                6373 non-null   int64
 27  no_ResponsiblePerson          6373 non-null   int64
 28  Unnamed: 0                    6373 non-null   int64
 29  review_date                   6373 non-null   object
 30  review_header                 6373 non-null   object
 31  review_text                   6373 non-null   object
 32  review_pros                   6373 non-null   object
 33  review_cons                   6373 non-null   object
 34  count_5_star                  6370 non-null   object
 35  count_4_star                  6370 non-null   object
 36  count_3_star                  6373 non-null   object
 37  count_2_star                  6373 non-null   object
 38  count_1_star                  6373 non-null   object
 39  number_of_reviews             6373 non-null   object
 40  company_rating                6373 non-null   float64
 41  work_life_balance             6371 non-null   object
 42  pay_and_benefits              6371 non-null   object
 43  job_security_and_advancement  6371 non-null   object
 44  management                    6371 non-null   object
 45  culture                       6341 non-null   object
 46  EmployerName_y                6373 non-null   object
 47  employer_clean                6373 non-null   object
dtypes: float64(16), int64(6), object(26)
memory usage: 2.4+ MB

In [41]:
combined_18_19_4.drop(columns=['Unnamed: 0', 'review_date', 'EmployerName_y', 'employer_clean'], inplace=True)

### Step 5: Data cleaning - firstly had to convert the star ratings from strings into floats, in order to do this I needed to convert numbers with strings contained - e.g. 1K to 1,000. Then I had to do a similar conversion for the number of reviews, as well as deleting the word 'review' or 'reviews' from the end of the string.

In [43]:
new_count_5_star = []
new_count_4_star = []
new_count_3_star = []
new_count_2_star = []
new_count_1_star = []

for line in combined_18_19_4.count_5_star:
    try:
        line = float(line)
        new_count_5_star.append(line)
    except:
        new_line = float(line.replace("K", ""))
        final_line = new_line*1000
        new_count_5_star.append(final_line)
        
for line in combined_18_19_4.count_4_star:
    try:
        line = float(line)
        new_count_4_star.append(line)
    except:
        new_line = float(line.replace("K", ""))
        final_line = new_line*1000
        new_count_4_star.append(final_line)
        
for line in combined_18_19_4.count_3_star:
    try:
        line = float(line)
        new_count_3_star.append(line)
    except:
        new_line = float(line.replace("K", ""))
        final_line = new_line*1000
        new_count_3_star.append(final_line)
        
for line in combined_18_19_4.count_2_star:
    try:
        line = float(line)
        new_count_2_star.append(line)
    except:
        new_line = float(line.replace("K", ""))
        final_line = new_line*1000
        new_count_2_star.append(final_line)
        
for line in combined_18_19_4.count_1_star:
    try:
        line = float(line)
        new_count_1_star.append(line)
    except:
        new_line = float(line.replace("K", ""))
        final_line = new_line*1000
        new_count_1_star.append(final_line)

In [44]:
new_number_of_reviews = []

for line in combined_18_19_4.number_of_reviews:
    line = line.replace(' reviews', '')
    line = line.replace(' review', '')
    try:
        line = float(line)
        new_number_of_reviews.append(line)
    except:
        new_line = float(line.replace("K", ""))
        final_line = new_line*1000
        new_number_of_reviews.append(final_line)

In [45]:
len(new_number_of_reviews)

6373

### Step 6: Data cleaning - for each of the review categories that provided ratings out of 5, I looked at any items that could not be converted to a float which appeared to be letters or combinations of letters. I therefore decided to instead convert these to a value of 3 since there were only a very small number of values that could not be converted to float. I then created a new dataframe with the cleaned variables and saved this as a csv file.

In [46]:
# combined_18_19_4.work_life_balance
new_work_life_balance = []
for line in combined_18_19_4.work_life_balance:
    try:
        line = float(line)
        new_work_life_balance.append(line)
    except:
        new_work_life_balance.append(3)

In [47]:
len(new_work_life_balance)

6373

In [48]:
new_pay_and_benefits = []
for line in combined_18_19_4.pay_and_benefits:
    try:
        line = float(line)
        new_pay_and_benefits.append(line)
    except:
        new_pay_and_benefits.append(3)

In [49]:
len(new_pay_and_benefits)

6373

In [50]:
new_job_security_and_advancement = []
for line in combined_18_19_4.job_security_and_advancement:
    try:
        line = float(line)
        new_job_security_and_advancement.append(line)
    except:
        new_job_security_and_advancement.append(3)

In [51]:
len(new_job_security_and_advancement)

6373

In [52]:
# combined_18_19_4.management = combined_18_19_4.management.astype(float)
new_management = []
for line in combined_18_19_4.management:
    try:
        line = float(line)
        new_management.append(line)
    except:
        new_management.append(3)

In [53]:
len(new_management)

6373

In [54]:
# combined_18_19_4.culture = combined_18_19_4.culture.astype(float)
new_culture = []
for line in combined_18_19_4.culture:
    try:
        line = float(line)
        new_culture.append(line)
    except:
        new_culture.append(3)

In [55]:
len(new_culture)

6373

In [56]:
combined_18_19_4.columns

Index(['EmployerName_x', 'SicCodes', 'DiffMeanHourlyPercent',
       'DiffMedianHourlyPercent', 'DiffMeanBonusPercent',
       'DiffMedianBonusPercent', 'MaleBonusPercent', 'FemaleBonusPercent',
       'MaleLowerQuartile', 'FemaleLowerQuartile', 'MaleLowerMiddleQuartile',
       'FemaleLowerMiddleQuartile', 'MaleUpperMiddleQuartile',
       'FemaleUpperMiddleQuartile', 'MaleTopQuartile', 'FemaleTopQuartile',
       'EmployerSize', 'SubmittedAfterTheDeadline', 'company_status',
       'jurisdiction', 'registered_address_country', 'company_type',
       'locality', 'female_final', 'male_final', 'percent_female_officer',
       'no_CompanyLink', 'no_ResponsiblePerson', 'review_header',
       'review_text', 'review_pros', 'review_cons', 'count_5_star',
       'count_4_star', 'count_3_star', 'count_2_star', 'count_1_star',
       'number_of_reviews', 'company_rating', 'work_life_balance',
       'pay_and_benefits', 'job_security_and_advancement', 'management',
       'culture'],
      dtype='object')

In [57]:
combined_18_19_4.count_5_star = new_count_5_star
combined_18_19_4.count_4_star = new_count_4_star
combined_18_19_4.count_3_star = new_count_3_star
combined_18_19_4.count_2_star = new_count_2_star
combined_18_19_4.count_1_star = new_count_1_star
combined_18_19_4.number_of_reviews = new_number_of_reviews
combined_18_19_4.work_life_balance = new_work_life_balance
combined_18_19_4.pay_and_benefits = new_pay_and_benefits
combined_18_19_4.job_security_and_advancement = new_job_security_and_advancement
combined_18_19_4.management = new_management
combined_18_19_4.culture = new_culture

In [58]:
combined_18_19_4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6373 entries, 00002065 to ZC000164
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   EmployerName_x                6373 non-null   object
 1   SicCodes                      6373 non-null   object
 2   DiffMeanHourlyPercent         6373 non-null   float64
 3   DiffMedianHourlyPercent       6373 non-null   float64
 4   DiffMeanBonusPercent          6373 non-null   float64
 5   DiffMedianBonusPercent        6373 non-null   float64
 6   MaleBonusPercent              6373 non-null   float64
 7   FemaleBonusPercent            6373 non-null   float64
 8   MaleLowerQuartile             6373 non-null   float64
 9   FemaleLowerQuartile           6373 non-null   float64
 10  MaleLowerMiddleQuartile       6373 non-null   float64
 11  FemaleLowerMiddleQuartile     6373 non-null   float64
 12  MaleUpperMiddleQuartile       6373 non-null   float64
 13  FemaleUpperMiddleQuartile     6373 non-null   float64
 14  MaleTopQuartile               6373 non-null   float64
 15  FemaleTopQuartile             6373 non-null   float64
 16  EmployerSize                  6373 non-null   object
 17  SubmittedAfterTheDeadline     6373 non-null   int64
 18  company_status                6373 non-null   object
 19  jurisdiction                  6373 non-null   object
 20  registered_address_country    6373 non-null   object
 21  company_type                  6373 non-null   object
 22  locality                      6373 non-null   object
 23  female_final                  6373 non-null   int64
 24  male_final                    6373 non-null   int64
 25  percent_female_officer        6373 non-null   float64
 26  no_CompanyLink                6373 non-null   int64
 27  no_ResponsiblePerson          6373 non-null   int64
 28  review_header                 6373 non-null   object
 29  review_text                   6373 non-null   object
 30  review_pros                   6373 non-null   object
 31  review_cons                   6373 non-null   object
 32  count_5_star                  6370 non-null   float64
 33  count_4_star                  6370 non-null   float64
 34  count_3_star                  6373 non-null   float64
 35  count_2_star                  6373 non-null   float64
 36  count_1_star                  6373 non-null   float64
 37  number_of_reviews             6373 non-null   float64
 38  company_rating                6373 non-null   float64
 39  work_life_balance             6371 non-null   float64
 40  pay_and_benefits              6371 non-null   float64
 41  job_security_and_advancement  6371 non-null   float64
 42  management                    6371 non-null   float64
 43  culture                       6341 non-null   float64
dtypes: float64(27), int64(5), object(12)
memory usage: 2.2+ MB

In [59]:
combined_18_19_4.head()

,EmployerName_x,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,MaleLowerQuartile,FemaleLowerQuartile,...,count_3_star,count_2_star,count_1_star,number_of_reviews,company_rating,work_life_balance,pay_and_benefits,job_security_and_advancement,management,culture
00002065,Lloyds Bank PLC,64191,36.1,41.7,71.4,66.8,91.5,93.1,28.7,71.3,...,210.0,55.0,51.0,899.0,3.8,3.7,3.7,3.4,3.4,3.6
00002404,SOUTHAMPTON ISLE OF WIGHT AND SOUTH OF ENGLAND...,"50100,\n50200",29.5,30.8,-2.4,0.0,89.3,79.3,43.1,56.9,...,0.0,0.0,0.0,7.0,4.6,4.6,4.6,4.3,4.4,4.7
00008614,STADCO LIMITED,29201,1.2,-8.4,55.7,39.9,79.3,59.8,87.9,12.1,...,10.0,5.0,3.0,41.0,3.4,3.4,3.5,2.9,3.0,3.1
00008848,British Medical Association,"74909,\n94200",13.6,14.3,40.9,4.8,31.0,25.0,27.0,73.0,...,9.0,0.0,3.0,34.0,3.9,3.6,3.2,3.2,3.5,3.9
00014259,HSBC Bank PLC,64191,61.0,30.0,85.0,58.0,88.0,86.0,30.0,70.0,...,2600.0,607.0,457.0,13800.0,4.0,3.8,3.8,3.6,3.6,3.8

In [64]:
# combined_18_19_4.to_csv('combined_18_19')

In [67]:
combined_18_19 = pd.read_csv('combined_18_19')
combined_18_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6373 entries, 0 to 6372
Data columns (total 45 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    6373 non-null   object
 1   EmployerName_x                6373 non-null   object
 2   SicCodes                      6373 non-null   object
 3   DiffMeanHourlyPercent         6373 non-null   float64
 4   DiffMedianHourlyPercent       6373 non-null   float64
 5   DiffMeanBonusPercent          6373 non-null   float64
 6   DiffMedianBonusPercent        6373 non-null   float64
 7   MaleBonusPercent              6373 non-null   float64
 8   FemaleBonusPercent            6373 non-null   float64
 9   MaleLowerQuartile             6373 non-null   float64
 10  FemaleLowerQuartile           6373 non-null   float64
 11  MaleLowerMiddleQuartile       6373 non-null   float64
 12  FemaleLowerMiddleQuartile     6373 non-null   float64
 13  MaleUpperMiddleQuartile       6373 non-null   float64
 14  FemaleUpperMiddleQuartile     6373 non-null   float64
 15  MaleTopQuartile               6373 non-null   float64
 16  FemaleTopQuartile             6373 non-null   float64
 17  EmployerSize                  6373 non-null   object
 18  SubmittedAfterTheDeadline     6373 non-null   int64
 19  company_status                6373 non-null   object
 20  jurisdiction                  6373 non-null   object
 21  registered_address_country    6373 non-null   object
 22  company_type                  6373 non-null   object
 23  locality                      6373 non-null   object
 24  female_final                  6373 non-null   int64
 25  male_final                    6373 non-null   int64
 26  percent_female_officer        6373 non-null   float64
 27  no_CompanyLink                6373 non-null   int64
 28  no_ResponsiblePerson          6373 non-null   int64
 29  review_header                 6373 non-null   object
 30  review_text                   6373 non-null   object
 31  review_pros                   6373 non-null   object
 32  review_cons                   6373 non-null   object
 33  count_5_star                  6370 non-null   float64
 34  count_4_star                  6370 non-null   float64
 35  count_3_star                  6373 non-null   float64
 36  count_2_star                  6373 non-null   float64
 37  count_1_star                  6373 non-null   float64
 38  number_of_reviews             6373 non-null   float64
 39  company_rating                6373 non-null   float64
 40  work_life_balance             6371 non-null   float64
 41  pay_and_benefits              6371 non-null   float64
 42  job_security_and_advancement  6371 non-null   float64
 43  management                    6371 non-null   float64
 44  culture                       6341 non-null   float64
dtypes: float64(27), int64(5), object(13)
memory usage: 2.2+ MB